#vehicle-booking-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  min-width: 350px;
}

#booking-form-wrapper {
  max-width: 1200px;
}

#form-section {
  display: flex;
  justify-content: space-between;
}

select#route {
  padding: 2px 20px;
}
